.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: black;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 5px;
}

.button:disabled {
    cursor: not-allowed;
    background-color: rgb(71, 71, 71);
}